.footer-container {
  width: 100vw;
  background-color: #a5331abf;
  padding-top: 30px;
}

.footer-small-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-loggo {
  background-color: rgb(253 249 244 / 90%);
  border-radius: 50%;
  width: 53px;
  height: 53px;
  transform: rotate(24deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-loggo-text {
  font-size: 20px;
  font-family: Loggo-font;
  color: #a5331abf;
  padding: 12px;
  text-align: center;
}

.footer-some-container {
  margin: 25px 0 0 0;
}

.footer-some-links {
  color: white;
}

.footer-some-links svg {
  width: 25px;
  height: 25px;
}

.footer-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
}

.footer-details {
  font-family: Roboto Mono;
  color: white;
  margin: 0;
  font-size: 12px;
}

.footer-copy {
  font-family: Roboto Mono;
  color: white;
  font-size: 10px;
  margin: 10px 0 30px 0;
}

.copy-symbol {
  font-size: 16px;
  margin: 0 5px 0 0;
}

.footer-big-view {
  display: none;
}

@media (min-width: 1024px) {
  .footer-small-view {
    display: none;
  }

  .footer-big-view {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-container {
    padding-top: 70px;
  }

  .address-loggo-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer-loggo-big {
    background-color: rgb(253 249 244 / 90%);
    border-radius: 50%;
    width: 160px;
    height: 160px;
    transform: rotate(24deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-loggo-text-big {
    font-size: 60px;
    font-family: Loggo-font;
    color: #a5331abf;
    padding: 30px;
    text-align: center;
  }

  .address-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 310px;
    margin: 0 30px 0 30px;
  }

  .address-big {
    font-size: 22px;
    font-family: Roboto Mono;
    font-weight: bold;
    color: white;
    margin: 0;
  }

  .address-small {
    font-size: 18px;
    font-family: Roboto Mono;
    color: white;
    margin: 0;
  }

  .address-container:first-child {
    text-align: right;
  }

  .footer-big-some-container {
    margin: 35px 0 0 0;
  }

  .footer-big-some-links {
    color: white;
    padding: 10px;
  }

  .footer-big-some-links svg {
    width: 35px;
    height: 35px;
  }

  .footer-copy {
    font-size: 14px;
    margin: 12px 0 40px 0;
  }
}
