.hero-image {
  width: 100%;
  object-fit: contain;
}

.mob-nav-container {
  position: absolute;
}

.header-container {
  box-sizing: border-box;
  height: 80vh;
  width: 100%;
  border: solid black 2px;
}

/* .header-box {
  background: url("/assets/images/image.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  border: red solid 2px;
} */

/* .header-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
} */

/* .loggo {
  background-color: #edc0a7;
  border: solid 2px #442e20;
  border-radius: 50%;
  height: 350px;
  width: 350px;
  position: relative;
  top: 190px;
  left: 860px;
}

.social-media-container {
  position: absolute;
} */
