.hero-image {
  width: 100%;
  object-fit: contain;
}

.mob-nav-container {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
}

.header-container {
  box-sizing: border-box;
  /* height: 80vh; */
  width: 100%;
  /* border: solid black 2px; */
}

.mob-hamb-loggo-container {
  direction: rtl;
}

.loggo {
  background-color: #edc0a7;
  border: solid 2px #442e20;
  border-radius: 50%;
  width: 53px;
  height: 53px;
  transform: rotate(24deg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 7px 0 0;
}

.loggo-text {
  font-size: 5px;
  font-family: Graduate;
  color: #442e20;
}

.social-media-container {
  position: absolute;
  top: 185px;
  right: 235px;
  width: 100px;
}

.social-media-icons {
  display: flex;
  justify-content: space-evenly;
}

.social-media-links {
  color: white;
  padding: 6px;
  line-height: 0;
}

.social-media-icons svg {
  width: 20px;
  height: 20px;
  border: 2.5px solid #8e9c8bd6;
  border-radius: 50%;
  padding: 6px;
  overflow: inherit;
  background-color: #edc0a7b3;
}

.social-media-icons svg:hover {
  color: #8e9c8bd6;
}

@media (min-width: 768px) {
  .loggo,
  .loggo-text {
    display: none;
  }

  .social-media-icons svg {
    width: 40px;
    height: 40px;
    padding: 8px;
    margin: 6px;
  }

  .social-media-container {
    top: 400px;
    right: 545px;
  }
}

@media (min-width: 1024px) {
  .loggo {
    display: flex;
    width: 250px;
    height: 250px;
    margin: 100px 135px 0 0;
  }

  .loggo-text {
    display: flex;
    font-size: 26px;
  }

  .social-media-container {
    top: 565px;
    right: 735px;
  }
}

@media (min-width: 1200px) {
  .loggo {
    width: 350px;
    height: 350px;
    margin: 190px 210px 0 0;
  }

  .loggo-text {
    font-size: 32px;
  }

  .social-media-container {
    top: 820px;
    right: 1120px;
  }
}
