.loggo {
  background-color: #edc0a7;
  border: solid 2px #442e20;
  border-radius: 50%;
  width: 53px;
  height: 53px;
  transform: rotate(24deg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 7px 0 0;
}

.loggo-text {
  font-size: 20px;
  font-family: Loggo-font;
  color: #442e20;
  padding: 12px;
  text-align: center;
}

@media (min-width: 768px) {
  .loggo-container {
    display: none;
  }
}

@media (min-width: 1024px) {
  .loggo-container {
    display: flex;
  }

  .loggo {
    width: 250px;
    height: 250px;
    margin: 100px 135px 0 0;
  }

  .loggo-text {
    font-family: Loggo-font;
    font-size: 100px;
    padding: 59px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .loggo {
    width: 350px;
    height: 350px;
    margin: 190px 210px 0 0;
  }

  .loggo-text {
    font-size: 143px;
  }
}
