.nav-container {
  box-sizing: border-box;
}

.nav-box {
  list-style-type: none;
  display: none;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 30px;
}

a {
  text-decoration: none;
  color: #442e20;
  font-family: Graduate;
  font-size: 35px;
  padding: 10px;
}
