/* .nav-container {
} */

.nav-box {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 1.5rem 10rem 0 10rem;
}

a {
  text-decoration: none;
  color: #442e20;
  font-family: Graduate;
  font-size: 35px;
}

/* li {
} */
