.acc-hamb-container {
  direction: rtl;
}

.acc-hamb-menu {
  position: absolute;
  z-index: 1;
}

.acc-welcome-text {
  height: 85px;
  width: 200px;
  border: solid black 1px;
  position: absolute;
  bottom: 200px;
  top: 39px;
  left: 85px;
  right: 0;
  background-color: #edc0a78a;
  text-align: center;
}

.room-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.room-wrapper {
  border: solid #452e21 1px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.room-mob-heading {
  font-family: Graduate;
  color: #452e21;
  margin-left: 20px;
  margin-bottom: 28px;
}

.room-heading {
  color: #8d4b35;
  font-family: Courier;
  font-size: 22px;
  margin: 0;
}
/* 
#6a6e54 */

.room-text {
  color: #452e21;
  font-family: Roboto Mono;
  font-size: 16px;
}

.room-img {
  width: 100%;
}

.acc-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
}

.acc-heading {
  font-family: Graduate;
  color: #452e21;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
}

.datepicker-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
}

.dates-container {
  font-family: Graduate;
  color: #452e21;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.date-input {
  display: flex;
  flex-direction: column;
}

.dd-room {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.dd-pax {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

label {
  padding: 10px;
}

.btn-acc {
  display: flex;
  justify-content: center;
}

button {
  height: 40px;
  width: 100px;
}

@media (min-width: 768px) {
  .room-img {
    width: 50%;
  }

  .room-box-left {
    display: flex;
  }

  .room-box-right {
    display: flex;
    flex-direction: row-reverse;
  }

  .room-mob-heading {
    display: none;
  }
}
