.acc-welcome-text {
  height: 85px;
  width: 200px;
  border: solid black 1px;
  position: absolute;
  bottom: 200px;
  top: 39px;
  left: 85px;
  right: 0;
  background-color: #edc0a78a;
  text-align: center;
}

.room-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.room-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-description {
  border: solid black 1px;
  width: 85%;
  height: 200px;
  margin: 20px;
  padding: 15px;
  text-align: center;
  font-size: 20px;
}

.room-pics {
  width: 100%;
  object-fit: contain;
}

.acc-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
}

.datepicker {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
}

.dd-room {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.dd-pax {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

label {
  padding: 10px;
}

.btn-acc {
  display: flex;
  justify-content: center;
}

button {
  height: 40px;
  width: 100px;
}
