.acc-hamb-container {
  direction: rtl;
}

.acc-hamb-menu {
  position: absolute;
  z-index: 1;
}

.acc-welcome-text {
  height: 85px;
  width: 200px;
  font-family: Loggo-font;
  font-size: 30px;
  border: solid black 1px;
  background-color: #edc0a78a;
  text-align: center;
  z-index: 2;
}

.room-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.room-wrapper {
  border: solid #452e21 1px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.room-mob-heading {
  font-family: Graduate;
  color: #452e21;
  margin-left: 20px;
  margin-bottom: 28px;
}

.room-heading {
  color: #8d4b35;
  font-family: Courier;
  font-size: 22px;
  margin: 0;
}

.room-text {
  color: #452e21;
  font-family: Roboto Mono;
  font-size: 16px;
}

.room-img {
  width: 100%;
}

.acc-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.acc-heading {
  font-family: Graduate;
  color: #452e21;
  margin-bottom: 28px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.datepicker-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
}

.dates-container {
  font-family: Graduate;
  color: #452e21;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100px;
}

.date-input {
  display: flex;
  flex-direction: column;
}

.dd-room-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dd-room {
  display: flex;
  justify-content: space-evenly;
}

.dd-room label {
  font-family: Graduate;
  color: #452e21;
  width: 116px;
}

.dd-room select {
  margin: 10px;
  background: #f0f0f0;
  height: 30px;
  border-style: none;
  box-shadow: 3px 3px 3px #c3b19c;
  border-radius: 3px;
  width: 130px;
}

.solid {
  border-top: 1.5px solid #c3b19c;
  width: 80%;
}

.dd-pax-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dd-pax {
  display: flex;
  justify-content: space-evenly;
}

.dd-pax label {
  font-family: Graduate;
  color: #452e21;
}

.dd-pax select {
  margin: 10px;
  background: #f0f0f0;
  height: 30px;
  border-style: none;
  box-shadow: 3px 3px 3px #c3b19c;
  border-radius: 3px;
  width: 130px;
}

.btn-acc {
  display: flex;
  justify-content: center;
  margin: 40px 30px;
}

.btn-acc button {
  height: 40px;
  width: 100px;
  background: #c3b19c;
  border-radius: 3px;
  font-family: Loggo-font;
  font-size: 50px;
  color: #452e21;
  letter-spacing: 2px;
  border-style: none;
  box-shadow: 3px 3px 3px #452e21;
}

.btn-acc button:hover {
  color: #8d4b35;
}

@media (min-width: 768px) {
  .room-img {
    width: 50%;
  }

  .room-box-left {
    display: flex;
  }

  .room-box-right {
    display: flex;
    flex-direction: row-reverse;
  }

  .room-mob-heading {
    display: none;
  }
}
