.act-text {
  padding: 20px;
}

.act-img {
  width: 100%;
}

@media (min-width: 768px) {
  .act-img {
    width: 50%;
  }

  .act-box-left {
    display: flex;
  }

  .act-box-right {
    display: flex;
    flex-direction: row-reverse;
  }
}
