.book-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-welcome-text {
  background: #edbfa797;
  width: 70%;
  height: 100px;
  text-align: center;
  font-family: Graduate;
  font-size: 18px;
  margin-top: 35px;
}

.book-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 70%;
}

.book-details {
  border: solid #452e21 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

button {
  height: 40px;
  width: 100px;
  background: #c3b19c;
  border-radius: 3px;
  font-family: Loggo-font;
  font-size: 50px;
  color: #452e21;
  letter-spacing: 2px;
  border-style: none;
  box-shadow: 3px 3px 3px #452e21;
  margin-top: 20px;
}

button:hover {
  color: #8d4b35;
}

@media (min-width: 768px) {
  .book-welcome-text {
    font-size: 22px;
  }

  .guestdetails-box {
    width: 50%;
  }

  .book-details {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .book-welcome-text {
    font-size: 27px;
    width: 50%;
  }

  .guestdetails-box {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .guestdetails-box input {
    width: 200px;
  }

  .book-details {
    width: 60%;
  }

  button {
    height: 50px;
    width: 130px;
    font-size: 60px;
    margin: 30px 30px;
  }
}
