.summary-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-heading {
  color: #452e21;
  width: 70%;
  height: 100px;
  text-align: center;
  font-family: Graduate;
  font-size: 18px;
  margin-top: 35px;
}

.summary-details {
  display: flex;
  flex-direction: column;
  font-family: Roboto Mono;
  border: solid #452e21 1px;
  padding: 20px;
}

.btn-book {
  margin-top: 20px;
  margin-bottom: 30px;
}
